.container {
  width: 100%;
}

.main {
  max-width: 1000px;

  margin: 0 auto;
  padding-top: 75px;

  display: flex;
  justify-content: center;
}

.repoList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  column-gap: 32px;
}
