.container {
  width: 100%;
}

.main {
  max-width: 1000px;

  margin: 0 auto;
  padding-top: 75px;
  
  width: 862px;
}

.containerOptions {
  display: flex;
  justify-content: space-between;

  margin-bottom: 19px;
}

.buttonDotDotDot {
  font-family: Roboto;
  font-size: 18px;

  width: 100%;

  line-height: 21px;

  align-items: center;

  background-color: transparent; 
}

.tableModels{
  width: 100%;
  border-collapse: collapse;
}


.tableModels thead {
  border-bottom: 4px solid #ddd;
}

.tableModels th, .tableModels td {
  padding: 10px 15px;
}

.tableModels th > button {
  font-weight: 700;
}

.modelData:hover {
  background-color: #0003;
}

.columnName {
  font-family: Roboto;
  font-size: 18px;

  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: transparent;
}

.buttonOptions {
  font-family: Roboto;
  font-size: 18px;
  background-color: transparent;
}

.labelInfoName {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;

  width: 100%;
}

.labelInfo {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;

  width: 100%;

  text-align: center;
}

.containerItem {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.invisibleInput {
  display: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

.input {
  color: var(--color-text-dark);
  font-size: 20px;
  line-height: 24px;

  resize: vertical;

  font-family: Roboto;

  margin-top: 8px;

  padding: 12px;

  border-radius: 6px;
  border: 1px solid var(--color-text-dark);
}

.label {
  color: var(--color-text-dark);
  font-size: 20px;
  line-height: 24px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalHeaderButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalHeaderButton {
  padding: 10px;
}

.buttonDownload {
  margin-right: 10px;
}

.buttonDelete {
  background-color: var(--color-danger);
}

.modalButton {
  width: 155px;
  height: 54px;
  
  padding: 0;
  font-size: 18px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonCancel {
  background-color: var(--color-danger);
}

.buttonSave {
  background-color: var(--color-sucess);
}